<h1>Tags!!!!!!!!</h1>

<ul>
  <% @tags.each do |tag| %>
    <li><a href= "/tags/<%= tag.id %>"><%= tag.description %></a></li>
  <% end %>
</ul>

<button><a href="/tags/new">Add a New Tag</a></button>
<button><a href="/recipes/new">Add a New Recipe</a></button>
<button><a href="/recipes">Main Page</a></button>
